-<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
           <th>
             Date 
            </th>
            <th>
              Stars
            </th>
            <th>
              fork
            </th>
            <th>
                Watcher
              </th>
              <th>
                Collaborators
              </th>
              <th>
                 Numbers
                </th>
                <th>
                  Idcoin
                 </th>
                <th>
                  Edit
                </th>
                <th>
                  Commit
                </th>
          </tr>
          <tr>
            <td>
              <input placeholder="date" [(ngModel)]="committoinsert.date">
            </td>
            <td>
              <input placeholder="stars" [(ngModel)]="committoinsert.stars">
            </td>
            <td>
            
                <input placeholder="fork" [(ngModel)]="committoinsert.fork">
            
            </td>
            <td>
            
              <input placeholder="watcher" [(ngModel)]="committoinsert.watcher">
          
          </td>
          <td>
            
            <input placeholder="collaborators" [(ngModel)]="committoinsert.collaborators">
        
          </td>
          <td>
            
            <input placeholder="number" [(ngModel)]="committoinsert.number">
      
          </td>
          <td>
            
              <select [(ngModel)] = "committoinsert.coin">  
                  <option [(ngValue)] = "coin" *ngFor = "let coin of coins"> {{coin.id}}</option>
                   </select>
      
          </td>
            <td>
              <button (click)="insert(committoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let commit of commits">
            <td>
              <input [(ngModel)]="commit.date">
            </td>
            <td>
              <input [(ngModel)]="commit.stars">
            </td>
            <td>
              <input [(ngModel)]="commit.fork">
            </td>
            <td>
              <input [(ngModel)]="commit.watcher">
            </td>
            <td>
              <input [(ngModel)]="commit.collaborators">
            </td>
            <td>
                <input [(ngModel)]="commit.number">
            </td>
            <td>
              {{commit.coin.id}}
          </td>
            <td>
              <button (click)=update(coin)>Save</button>
            </td>
            <td>
              <button (click)="delete(coin)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
  </div>