<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
           <th>
             Date 
            </th>
            <th>
              Reddit
            </th>
            <th>
              Telegram
            </th>
            <th>
                Likefb
              </th>
              <th>
                Twitter
              </th>
              <th>
                Idcoin
              </th>
              <th>
                  Edit
                </th>
                <th>
                  social
                </th>
          </tr>
          <tr>
            <td>
              <input placeholder="date" [(ngModel)]="socialtoinsert.date">
            </td>
            <td>
              <input placeholder="reddit" [(ngModel)]="socialtoinsert.reddit">
            </td>
            <td>
            
                <input placeholder="telegram" [(ngModel)]="socialtoinsert.telegram">
            
            </td>
            <td>
            
              <input placeholder="likefb" [(ngModel)]="socialtoinsert.likefb">
          
          </td>
          <td>
            
            <input placeholder="twitter" [(ngModel)]="socialtoinsert.twitter">
        
          </td>
          <td>
            
            <select [(ngModel)] = "socialtoinsert.coin">  
                <option [(ngValue)] = "coin" *ngFor = "let coin of coins"> {{coin.id}}</option>
                 </select>
    
        </td>
            <td>
              <button (click)="insert(socialtoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let social of socials">
            <td>
              <input [(ngModel)]="social.date">
            </td>
            <td>
              <input [(ngModel)]="social.reddit">
            </td>
            <td>
              <input [(ngModel)]="social.telegram">
            </td>
            <td>
              <input [(ngModel)]="social.likefb">
            </td>
            <td>
              <input [(ngModel)]="social.twitter">
            </td>
            <td>
              {{social.coin.id}}
          </td>
            <td>
              <button (click)=update(coin)>Save</button>
            </td>
            <td>
              <button (click)="delete(coin)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
  </div>