<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
           <th>
             Variation  
            </th>
            <th>
              Date
            </th>
            <th>
              Idcoin
             </th>
            <th>
            <th>
              Edit
            </th>
            <th>
              Trend
            </th>
          </tr>
          <tr>
            <td>
              <input placeholder="variation" [(ngModel)]="trendtoinsert.variation">
            </td>
            <td>
              <input placeholder="date" [(ngModel)]="trendtoinsert.date">
            </td>
            <td>
            
              <select [(ngModel)] = "trendtoinsert.coin">  
                  <option [(ngValue)] = "coin" *ngFor = "let coin of coins"> {{coin.id}}</option>
                   </select>
      
          </td>
            
         
            <td>
              <button (click)="insert(trendtoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let trend of trends">
            <td>
              <input [(ngModel)]="trend.variation">
            </td>
            <td>
              <input [(ngModel)]="trend.date">
            </td>
            <td>
               
                <select [(ngModel)]="trend.coin.id">

                    <option [selected] = "coin" *ngFor = "let coin of coins"> {{coin.id}}</option>
  
                </select>
              <!--<select [(ngModel)] = "trendtoinsert.coin">  
                    <option [(ngValue)] = "coin" *ngFor = "let coin of coins"> {{coin.id}}</option>
                     </select>-->
          </td>
            <td>
              <button (click)=update(trend)>Save</button>
            </td>
            <td>
              <button (click)="delete(trend)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
  </div>